// Variable overrides

$cyan: #17a2b8;
$info: $cyan;
/*font Variables*/ 
$roboto: 'Roboto', sans-serif;
$font_awesome: 'Font Awesome 5 Free';

/*Color Variables*/ 
$bc: #5cb85c;
$heding: #405867; 
$pfont: #5f6771;
